@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "buttons";
@import "profile";
 html {
    height: 100%;
  }

  body {
    color: white;
    background-color: #7266ba;
    padding: 0px 0px 150px 0px;
  }

  body.landing {
    background: #000;
    padding-bottom: 50px;
  }
  
  div.navbar-header > a {
	  margin-top: -20px;
  }
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default {
  background: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  height: 75px;
  padding: 10px;
}

.player-header-nav {
	background-color: transparent;
	border: none;
  .navbar-nav {
    a {
      line-height: 45px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
      font-family:'Oswald', sans-serif;
 
      &:hover {
         color: rgba(0, 0, 0, .9);
      }
    }
  }
}

.back p a.album-name ng-binding {
	text-align: center;
}

img { width: 100%; }

@media screen and (min-width: 769px) {

  .navbar-header .btn-navbar {
      display: none;
    }
  .navbar-header li {
      display: block;
    }
    hr {
	    display: none;
    }
  }


@media screen and (max-width: 768px) {

   .btn-navbar {
    height: 75px;
    width: 75px;
    float: right;
    display: block;
    text-align: center;
   }

  /* Landing Page and Global Styles */
.fa-navicon {
  color: white;
  margin-top: 8px;
}
  
}
