@media screen and (max-width: 768px) {
  /* Landing Page and Global Styles */
  /* line 6, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
  .player-header-nav.navbar .navbar-nav li {
    text-align: center; }
  /* line 11, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
  .player-header-nav.navbar .hero-content h1, .player-header-nav.navbar .hero-content h3 {
    text-align: left;
    color: blue; }
  /* line 16, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
  .player-header-nav.navbar .selling-points {
    padding: 0; }
    /* line 18, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
    .player-header-nav.navbar .selling-points .point {
      padding: 3em 0.75em; }
      /* line 20, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
      .player-header-nav.navbar .selling-points .point h5 {
        height: 2.25em; }
      /* line 23, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
      .player-header-nav.navbar .selling-points .point p {
        text-align: center;
        font-size: 1.25em; }
  /* line 29, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
  .player-header-nav.navbar .landing-album-list {
    /* Example class added to style the album covers for mobile */ }
    /* line 31, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
    .player-header-nav.navbar .landing-album-list .album-cover {
      position: relative; }

  /* Collection View */
  /* line 39, /Volumes/Macintosh HD/Users/felipemillan/bloc-vagrant/bloc-jams/app/stylesheets/mobile.scss */
  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    /* Width of the album image. */ }
 }
